.Admin{
    width: 100vw;
    height: 100vh;
    background-color: #F7F9FF;
}

.adminNav{
    width: 100vw;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.adminNav .buttons-container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-right: 20px;
    cursor: pointer;
    transition: 250ms;
}

.adminNav .buttons-container .Secondary:hover{
    color: #18305E;
}

.adminNav button{
    margin-right: 50px;
}

.middleContainer{
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
}

.pendingList{
    height: 80vh;
    overflow-x: hidden;
    overflow-y: scroll;
}

.pendingList::-webkit-scrollbar {
    width: 10px;
}

.pendingList::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 5px;
  }

.pendingList::-webkit-scrollbar-thumb {
    background: #5C8DF7;
    border-radius: 5px;
}


@media only screen and (max-width:804px){
    .middleContainer{
        flex-direction: column-reverse;
    }
}

@media only screen and (max-width:939px){
    .adminNav .Secondary{
        font-size: 1rem;
    }
}

@media only screen and (max-width:826px){
    .adminNav img{
        width: 40%;
    }
}

@media only screen and (max-width:560px){
    .adminNav .Secondary{
        padding: 7px;
        margin: 0 10px;
    }    
}

@media only screen and (max-width:497px) {
    .adminNav .buttons-container{
        flex-direction: column;
    }
}