.forgot{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.forgot .innerDivdiv{
    z-index: 1000;
    background-color: white;
}

.forgot button{
    text-decoration: none;
}